.panel
  %h6 Output
  %hr

  %code
    - @repl_result.output.each do |output|
      = output

    - if @repl_result.result.present?
      =" => #{@repl_result.result}"

    - if @repl_result.exception.present?
      = simple_format @repl.exception
