%Julia Repl Demo!

= render "julia_editor"
= render "result"

:javascript
  $(document).ready(function() {
    $(document).keydown(function(e) {
      if(e.metaKey) {
        if(e.which == 13) {
          console.log("CTRL + ENTER!");

          // Run...
        }
      }
    })

    $(document).keypress(function(e) {
      var checkWebkitandIE=(e.which==26 ? 1 : 0);
      var checkMoz=(e.which==122 && e.ctrlKey ? 1 : 0);

      if (checkWebkitandIE || checkMoz) $("body").append("<p>ctrl+z detected!</p>");
    });
  });
